$white_color: #fff;
$paragragh_color:rgba(255, 255, 255, 0.7);
$light_blue: #55C2D8;
$font_sans-serif: Arial, Helvetica, sans-serif;
$grey:#464547;
$footer_text_color:rgba(255, 255, 255, 0.4);
$section_background_col:#EEEEEE;
$h3_line_height:32px;
$h1_line_height:64px;
$h3_size:24px;
$h1_size:44px;
$h3_font_weight:400;
$h1_font_weight:700;
$desktop_width:1200px;

